:root {
    /* text styles */
    --brand-font: 'Darumadrop One', sans-serif;
    --text-font: 'Roboto Mono', monospace;

    --text-color-primary: #000000;
    --text-color-seconday: #737373;
    
    --text-sm: 20px;
    --text-md: 30px;
    --text-lg: 35px;
    --text-xl: 40px;
    --text-xxl-logo: 80px;

    /* colors */
    --bg-color: #f2f2f2;
    --brand-color: #e74832;
    --accent-color: #ffe580;
    --accent-color-lt: #ffeb9d;

    /* spacing */
    --spacing-sm: 10px;
    --spacing-md: 30px;
    --spacing-lg: 70px;
    --spacing-xl: 140px;

    --standard-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* general element styles */

html,
body {
    background-color: var(--bg-color);
}

body {
    font-family: var(--text-font);
    color: var(--text-color-primary);
    margin: var(--spacing-md) 120px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* layout styles */
.multi-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/* button styles */
.arrow-btn {
    border: none;
    background-color: transparent;
}
.arrow-btn img {
    width: 100%;
}
.arrow-btn:hover {
    transform: translateY(-10px);
}
.arrow-btn:active {
    transform: translateY(-3px);
    opacity: 80%;
}

/* header and hero */
.header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--spacing-md);
}
.header .logo #logo-img {
    width: 250px;
}

.hero .left-col {
    background-color: red;
    width: 60%;
}
.hero .left-col .text-box {
    background-color: transparent;
}
.hero .text-box h1 {
    font-size: var(--text-xl);
    font-weight: normal;
}

.hero .right-col {
    background-color: blue;
    width: 40%;
}
.hero .right-col img {
    width: 100%;
}



/* under development */
/* about us */
/* newsletter */
/* dev blog */
/* footer */



/* custom breakpoint */
@media only screen and (max-width: 1000px) {

    :root {
        --text-xl: 30px;
    }
    .header .logo #logo-img {
        width: 150px;
    }
}
/* tablet */
@media only screen and (max-width: 768px) {
    :root {
        --text-xl: 25px;
    }
    body {
        margin: var(--spacing-md) 50px;
    }

    /* header & hero */

}
/* mobile */
@media only screen and (max-width: 550px) {
    :root {
        --text-xl: 20px;
    }
    body {
        margin: var(--spacing-md) 10px;
    }

    /* header & hero */
}